<h1 class="header">Jobs!</h1>
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Post Date</th>
            <th>Company</th>
            <th>Position</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="job in jobs.jobs" ng-click="jobs.gotoJob(job.url)">
            <td class="text-nowrap"><a href="#">{{job.date | date:'short'}}</a></td>
            <td><a href="#">{{job.company}}</a></td>
            <td><a href="#">{{job.position}}</a></td>
            <td><a href="#"><span ng-repeat="tag in job.tags">{{tag}}&nbsp;</span></a></td>
        </tr>
    </tbody>
</table>